.card-details {
  display: flex;
  flex-direction: column;
}
.card-details span {
  text-align: left;
}
.other-products-container {
  display: flex;
  flex-direction: column;
}

.other-products-items {
  justify-content: space-between;
}
.other-products-items div {
  text-align: center;
  flex: 1;
}
.other-products-items img {
  max-width: 135px;
  margin: auto;
}
.other-products-items .slick-slide {
  height: 370px;
}
.item {
  max-width: 290px;
  height: 350px;
  display: flex;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #00000029;
  padding: 0 17px 0 17px;
  border-radius: 3px;
  cursor: pointer;
}
.image {
  max-width: 135px;
  margin: 10px auto 13px auto;
}
.card-brand {
  font: var(--unnamed-font-style-normal) normal medium 16px/19px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
  opacity: 1;
}
.card-title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/20px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
  opacity: 1;
  min-height: 40px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.price-link {
  font: var(--unnamed-font-style-normal) normal normal 16px /
    var(--unnamed-line-spacing-35) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary);
  text-align: left;
  text-decoration: underline;
  opacity: 1;
}
