
.slick-prev:before,
.slick-next:before {
  color: var(--primary) !important;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  display: none !important;
}
.carousel-thumbnail{
    max-width:80px;
}