@import url(https://fonts.googleapis.com/css2?family=Proxima+Nova);
:root {
  /* Devices */
  --width-max-desktop: 1216px;

  /* Colors: */
  --unnamed-color-02a651: #02a651;
  --unnamed-color-e30613: #e30613;
  --primary: #0060ab;
  --secundary: #f28b2d;
  --unnamed-color-303030: #303030;
  --unnamed-color-ced8e6: #ced8e6;
  --unnamed-color-f1f5f9: #f1f5f9;
  ---f9fcff-zoals-header-: #f9fcff;

  /* Font/text values */
  --unnamed-font-family-proxima-nova: Proxima Nova;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-30: 30px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-35: 35px;
}

/* Character Styles */
.h4-heading-bold {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
}
.header a {
  font: var(--unnamed-font-style-normal) normal normal 14px/17px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary);
  text-align: left;
}
.page-content {
  margin: 3vh auto 0;
  padding: 1rem;
  width: 100%;
  max-width: var(--width-max-desktop) !important;
}
.carousel-image img {
  width: 626px;
  max-height: 525px;
}
.product-carousel-container {
  grid-area: carousel;
  max-width: 626px;
  margin: 0 auto;
}
hr {
  margin-top: 5vh;
}
.product-details-full {
  display: grid;
  grid-template-areas:
    "title title title"
    "carousel price brandLogo"
    "carousel dateInfo dateInfo"
    "carousel main main"
    "description pros pros";
  grid-template-rows: 75px 70px 35px 1fr;
  grid-template-columns: 626px auto;
  grid-gap: 0.5rem 1rem;
}
.title {
  grid-area: title;
}
h1 {
  font: var(--unnamed-font-style-normal) normal 600 28px /
    var(--unnamed-line-spacing-35) var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
}
.product-price {
  grid-area: price;
}
.product-button button {
  cursor: pointer;
}
.price-value {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-20) / 24px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary);
  text-align: left;
}
.price-base {
  font: var(--unnamed-font-style-normal) normal medium 14px/17px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  color: #707070;
}
.product-price p {
  margin: 0;
}
svg {
  vertical-align: middle;
}
.price-disscount {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    14px/17px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
}
.product-brand {
  grid-area: brandLogo;
}
.brand-text {
  font-family: var(--unnamed-font-family-proxima-nova);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-30);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: right;
  padding-right: 5px;
}
.brand-text span:nth-child(even) {
  color: var(--primary);
}
.product-brand img {
  max-width: 75px;
  max-height: 3rem;
  height: 100%;
  object-fit: contain;
  float: right;
}
.product-date {
  grid-area: dateInfo;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    14px/33px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-02a651);
  text-align: left;
}

.product-button {
  grid-area: main;
}
.button-content {
  font: var(--unnamed-font-style-normal) normal 600 16px/19px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: center;
  color: #ffffff;
}
.button-content svg {
  vertical-align: middle;
  width: 19px;
  height: 12;
}
#button {
  width: 300px;
  height: 50px;
  border: 0;
  background: var(--secundary) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}
.product-description {
  grid-area: description;
  padding-right: 80px;
}
.product-description p {
  font: var(--unnamed-font-style-normal) normal normal 16px/24px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
  font: normal normal normal 16px/24px Proxima Nova;
  text-transform: lowercase;
}
.product-pros {
  grid-area: pros;
}
.product-pros ul {
  padding: 0;
}
.pros-icon {
  color: #02a651;
  size: 2px;
  vertical-align: middle;
}

.product-pros ul li {
  list-style-type: none;
  font: var(--unnamed-font-style-normal) normal normal 16px/24px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
  font: normal normal normal 16px/24px Proxima Nova;
}
td:first-child {
  width: 30%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/24px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
}
tr:nth-child(odd) {
  background-color: #f1f5f9;
}
table {
  width: 100%;
}
.downloads-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.texto {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    16px/30px var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-303030);
  text-align: left;
}
.downloads-container span {
  font: var(--unnamed-font-style-normal) normal normal 16px/20px
    var(--unnamed-font-family-proxima-nova);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary);
  text-align: left;
  cursor: pointer;
}
.downloads-container img {
  width: 20px;
  vertical-align: top;
}
.slick-next {
  margin-right: 60px;
}
.slick-prev {
  margin-left: 60px;
}
.slick-prev,
.slick-next {
  top: 40%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .product-details-full {
    display: block;
  }
  .product-brand img {
    float: none;
  }
  .product-button {
    width: 100% !important;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    padding: 0 15px 15px 15px;
  }
  .product-button button {
    width: 100% !important;
    cursor: pointer;
  }
  .slick-prev,
  .slick-next {
    top: 50%;
  }
  .brand-text {
    text-align: left;
    padding-left: 5px;
  }
  .product-price {
    margin-top: 3vh;
  }
  .page-content{
    margin-bottom:5rem
  }
}
